@import url('header.css');
@import url('carousel.css');

:root {
    --color-primary-1:#00299d;
    --color-primary-2:#0a38b0;
    --color-primary-2:#1547c3;
    --color-primary-2:#1f56d6;
    --color-primary-2:#2965e9;

    --color-neutral-0:white;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: var(--color-primary-1); */
    background-color: #f0f4f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    text-align: center;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 10px;
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin: 0;
}

p {
    font-size: 1.2em;
    color: #666;
    margin: 15px 0;
}

.spinner {
    margin: 20px auto;
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}